h1, p {
    text-align: center;
}

li{
    list-style: none;
}

li:hover{
background-color: aqua;

}

li:active{
    background-color: rgb(255, 123, 0);
    color: white;
    }

    div:hover{
        border-color: blue;  
        border-style: solid;
    }
    div:nth-of-type(1){
        color: red;
        font-style: italic;
    }
    div:nth-of-type(2){
        color: green;
    }
    div:nth-of-type(3){
        color:purple;
        font-size: 2em;
        font-style: italic;
    }
    div:nth-of-type(4){
        color: black;
    }
    div:nth-of-type(5){
        color: yellow;
        font-style: italic;
    }